body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto";

}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    /* padding: 0 16px; */
    /* font-size: 32px; */
    background-color: #1f2937;
    color: white;
    /* border: 2px solid black; */
}

.content .hero{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.content-wrapper{
    /* border: 3px solid black; */
    margin-top: 10px;
    width: 55%;
}

.content-wrapper .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    /* border: 2px solid gold; */
    width: 100%;
}

.content-wrapper .logo{
    color: #F9faf8;
    font-size: 24px;
}

.content .hero-secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.content-container{
    display: flex;
    /* flex-direction: column; */
    flex: 1;
    align-items: center;
    padding: 30px 10px 30px 10px;
    /* border: 2px solid red; */
}

.content-wrapper .image{
    width: 650px;
    height: 150px; 
    align-content: center;
    justify-items: center;
    background-color: #323f52;
    /* padding: 100px 200px 100px 200px; */
    /* border: 3px solid rgb(231, 228, 231); */
    margin: 10px 10px 10px 3-0px;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
    /* border: 5px solid rgb(128, 128, 128); */
}

a{
    text-decoration: none;
    color: #E5E7EB;
    margin-right: 25px;
}

.two{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    /* border: 3px solid green; */
    align-items: center;
}

.two .info{
    font-size:36px;
    color: #1f2937;
    font-weight: 900;
}

.box-container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
}

.boxes{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap; 
    align-items: center;
    /* border:2px solid black; */
}

.box{
    border: 2px solid #3882f6;
    border-radius: 5px;
    width: 130px;
    height: 125px;
    justify-content: space-around;
    display: flex;       
    margin: 0px;              
}

.box-text{
    max-width: 150px;
}

.three{
    background-color: #E5E7EB;
}

.quote-container{
    max-width: 550px;
    /* border: 5px solid chocolate; */
    justify-self: center;
}

.three .quote{
    max-width: 550px;
    justify-self: center;
    font-size: 1.5em;
    color: #1f2937;
    font-size: 36px;
}

.three .thor{
    max-width: 550px;
    justify-self: right;
}

.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.fourth .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 650px;
    /* border: 3px solid peachpuff; */
    border-radius: 8px;
    padding: 10px 20px;
    color:#E5E7EB;
    background-color: #3882f6;
}

.wrapper .cta{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}
.fourth .sign-up-container{
    /* border: 4px solid salmon; */
    width: 450px;
}

.footer{
    padding:37px 0 37px 0;
    border: 2px solid black;
    text-align: center;
    background-color: #1f2937;
    color: white;
}

.sign-up{
    padding: 5px 10px;
    border-radius: 7px;
    border: 0;
    color:#E5E7EB;
    background-color: #3882f6;
}

.fourth-sign-up{
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid #E5E7EB;
    color:#E5E7EB;
    background-color: #3882f6;
}